			{% extends 'music/base.html' %}

			{% block title %}PyMusic | Songs{% endblock %}


			{% if error_message %}
				<p><strong>{{error_message}}</strong></p>
			{% endif %}

			{% block body %}
			<div class="container-fluid">
				<div class="row">
				  <div class="col-md-2">
				    <div class="thumbnail">
				      <img src="{{ album.album_logo.url }}" alt="{{ album.album_title }}" >
				      <div class="caption">
				        <h3>{{ album.album_title }}</h3>
				        <span>By: <b>{{ album.artist }}</b></span>
				      </div>
				    </div>
				  </div>
				  
				  <div class="col-md-10">
				  	<div class="row">
						  <div class="container-fluid">
							<div class="row">
								<!--<a href="" class="btn btn-primary">View All</a>-->
								<a href="{% url 'music:song-add' album.id%}" class="btn btn-warning">Add New Song</a>
							</div>
							<br>
							<div class="row">
								<div class="panel panel-default">
								  <div class="panel-heading">
								  	<h3>Songs</h3>
								  </div>
								  {% block panel-content %}
									  
								  {% endblock %}
								</div>
							</div>
						</div>
					</div>
				  </div>
				</div>
			</div>
			{% endblock %}
